@charset "UTF-8";
/* line 9, style.scss */
.bg-green {
  background-color: #00653b;
}

/* line 10, style.scss */
.bg-light-green {
  background-color: #ddeac6;
}

/* line 11, style.scss */
.bg-gray {
  background-color: #333333;
  color: white;
}

/* line 12, style.scss */
.bg-white {
  background-color: white;
}

/* line 13, style.scss */
.text-green {
  color: #00653b;
}

@font-face {
  font-family: 'Akkurat';
  src: url("fonts/Akkurat-Normal.eot");
  src: local("Ôÿ║"), url("fonts/Akkurat-Normal.woff") format("woff"), url("fonts/Akkurat-Normal.ttf") format("truetype"), url("fonts/Akkurat-Normal.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Akkurat';
  src: url("fonts/Akkurat-Bold.eot");
  src: local("Ôÿ║"), url("fonts/Akkurat-Bold.woff") format("woff"), url("fonts/Akkurat-Bold.ttf") format("truetype"), url("fonts/Akkurat-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
/* line 32, style.scss */
body {
  font-family: Akkurat;
  font-size: 16px;
}

/* line 36, style.scss */
p {
  margin: 0;
}

/* line 39, style.scss */
.limit, .navbar .container {
  max-width: 960px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  /* line 44, style.scss */
  .limit {
    padding-left: 35px;
  }
}

/* line 51, style.scss */
.navbar {
  padding-top: 12px;
  padding-bottom: 12px;
}
@media (min-width: 768px) {
  /* line 54, style.scss */
  .navbar .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  /* line 51, style.scss */
  .navbar {
    text-align: center;
    padding-top: 20px;
  }
}

/* line 66, style.scss */
.navbar-brand-me {
  display: block;
}

/* line 70, style.scss */
.navbar-toggle {
  height: 31px;
  padding: 2px;
  margin: 0 20px 0 0;
  border: none;
}

/* line 76, style.scss */
.navbar-toggle .icon-bar {
  width: 50px;
  height: 2px;
  margin-bottom: 11px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/* line 82, style.scss */
.navbar-collapse {
  margin-top: 8px;
}

/* line 85, style.scss */
.navbar-nav {
  float: none;
}

@media (min-width: 768px) {
  /* line 88, style.scss */
  .nav > li {
    float: none;
    display: inline-block;
  }
}
/* line 93, style.scss */
.nav > li a {
  color: white;
  text-shadow: none;
}
/* line 95, style.scss */
.nav > li a:hover, .nav > li a:focus {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
}
@media (min-width: 768px) {
  /* line 93, style.scss */
  .nav > li a {
    padding: 0 7px 0 7px;
    font-size: 14px;
  }
}

/* line 109, style.scss */
.bg-field {
  position: relative;
  height: 250px;
  margin-top: 39px;
  overflow: hidden;
  background: url("../media/images/bg-field-2160.jpg") no-repeat;
  background-position: center top;
  background-size: 125% auto;
}
/* line 117, style.scss */
.bg-field .videoWrapper {
  /* Hide video on lower res */
  display: none;
}
/* line 120, style.scss */
.bg-field strong {
  position: absolute;
  width: 100%;
  top: 25%;
  z-index: 2;
  text-align: center;
  font-size: 25px;
  color: white;
}
@media (min-width: 768px) {
  /* line 109, style.scss */
  .bg-field {
    height: 435px;
    margin-top: 69px;
    background-size: 104% auto;
  }
  /* line 134, style.scss */
  .bg-field .videoWrapper {
    /* Show video on lower res */
    display: block;
  }
  /* line 137, style.scss */
  .bg-field strong {
    font-size: 48px;
  }
}
@media (min-width: 925px) {
  /* line 109, style.scss */
  .bg-field {
    height: 522px;
  }
}

/* line 145, style.scss */
.videoWrapper {
  background: url("../media/images/bg-field-2160.jpg") no-repeat;
  position: relative;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25%;
  /* 16:9 */
}

/* line 153, style.scss */
#videobg {
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* line 164, style.scss */
.play-button {
  position: absolute;
  right: 20px;
  z-index: 3;
  width: 30px;
  opacity: 0.7;
}
/* line 170, style.scss */
.play-button:hover {
  opacity: 1;
}
@media (min-width: 768px) {
  /* line 164, style.scss */
  .play-button {
    top: 390px;
  }
}
@media (min-width: 925px) {
  /* line 164, style.scss */
  .play-button {
    top: 475px;
  }
}

/* line 180, style.scss */
#agriculture-text {
  margin-top: 18px;
  padding-bottom: 25px;
  font-size: 19px;
  text-align: center;
  line-height: 1.35;
}
/* line 186, style.scss */
#agriculture-text strong {
  display: block;
  font-size: 20px;
  line-height: 1.2;
}
@media (min-width: 768px) {
  /* line 180, style.scss */
  #agriculture-text {
    margin-top: 52px;
    padding-bottom: 58px;
    font-size: 21px;
  }
  /* line 195, style.scss */
  #agriculture-text strong {
    font-size: 24px;
  }
}

/* line 201, style.scss */
#about {
  padding: 20px 0 0 0;
}
/* line 203, style.scss */
#about p.text-green {
  padding-right: 28px;
  padding-bottom: 10px;
  font-size: 19px;
}
/* line 208, style.scss */
#about .col-sm-offset-1 {
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  /* line 201, style.scss */
  #about {
    padding: 34px 0 0 0;
    border-top: 4px solid gray;
  }
  /* line 214, style.scss */
  #about p.text-green {
    padding-bottom: 120px;
    font-size: 29px;
  }
}

/* line 220, style.scss */
.white-padding {
  padding-left: 7.5px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  /* line 220, style.scss */
  .white-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* line 228, style.scss */
.bg-white {
  padding-top: 15px;
}
/* line 230, style.scss */
.bg-white .col-sm-6 {
  padding-left: 7.5px;
}
/* line 233, style.scss */
.bg-white p {
  margin-top: 22px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  /* line 228, style.scss */
  .bg-white {
    padding-top: 22px;
  }
  /* line 239, style.scss */
  .bg-white .text-green {
    font-size: 22px;
    line-height: 1.3;
  }
  /* line 243, style.scss */
  .bg-white .col-sm-6 {
    padding-left: 0;
  }
  /* line 246, style.scss */
  .bg-white .col-sm-6:first-child {
    padding-right: 125px;
  }
}

@media (min-width: 768px) {
  /* line 251, style.scss */
  .g1-cont, .g2-cont {
    padding-top: 12px;
    padding-bottom: 24px;
  }
}

/* line 257, style.scss */
.graph1, .graph2 {
  max-width: 423px;
  margin: 0 auto;
}
/* line 260, style.scss */
.graph1 img, .graph2 img {
  max-width: 100%;
}

/* line 265, style.scss */
.graph1 {
  position: relative;
  overflow: hidden;
}
/* line 268, style.scss */
.graph1 .top-layer {
  position: absolute;
  -webkit-transition: all 2s ease;
          transition: all 2s ease;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
/* line 273, style.scss */
.graph1 .top-layer.inview {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

/* line 277, style.scss */
.graph2 {
  position: relative;
}
/* line 279, style.scss */
.graph2 .top-layer {
  position: absolute;
  width: 0%;
  height: 100%;
  max-width: 100%;
  background-image: url(../media/images/graph2-2.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  -webkit-transition: width 3s ease;
          transition: width 3s ease;
}
/* line 289, style.scss */
.graph2 .top-layer.inview {
  width: 100%;
}

/* line 293, style.scss */
#white2 {
  margin-top: 26px;
}
@media (min-width: 768px) {
  /* line 293, style.scss */
  #white2 {
    margin-top: 45px;
  }
  /* line 297, style.scss */
  #white2 .no-bold {
    font-weight: normal;
  }
}

/* line 304, style.scss */
#we-believe-text .text-green {
  font-size: 18px;
}
/* line 307, style.scss */
#we-believe-text p {
  margin: 20px 0;
}
/* line 310, style.scss */
#we-believe-text p:last-child {
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  /* line 314, style.scss */
  #we-believe-text .text-green {
    font-size: 23px;
  }
  /* line 317, style.scss */
  #we-believe-text p:last-child {
    margin-bottom: 65px;
  }
  /* line 320, style.scss */
  #we-believe-text .col-sm-6:last-child {
    padding-right: 48px;
  }
}

/* line 326, style.scss */
.bg-yard {
  height: 164px;
  background: url("../media/images/bg-yard.jpg") no-repeat;
  background-size: auto 100%;
  background-position: center bottom;
  color: white;
}
/* line 332, style.scss */
.bg-yard .row {
  display: table;
  height: 100%;
}
/* line 336, style.scss */
.bg-yard p {
  display: table-cell;
  padding: 0 70px;
  vertical-align: middle;
  font-size: 22px;
  text-align: center;
}
@media (min-width: 485px) {
  /* line 326, style.scss */
  .bg-yard {
    background-size: 100% auto;
  }
}
@media (min-width: 768px) {
  /* line 326, style.scss */
  .bg-yard {
    height: 341px;
    background-size: auto 100%;
  }
}
@media (min-width: 970px) {
  /* line 326, style.scss */
  .bg-yard {
    background-size: 102% auto;
  }
}

/* line 354, style.scss */
#systematic {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}

/* line 361, style.scss */
#projects {
  padding-top: 10px;
  padding-bottom: 20px;
}
/* line 364, style.scss */
#projects .projects-heading {
  margin-bottom: 20px;
  font-size: 19px;
}
/* line 368, style.scss */
#projects ul {
  padding-left: 0;
  padding-bottom: 10px;
  list-style: none;
  font-weight: bold;
}
/* line 374, style.scss */
#projects li {
  display: block;
  position: relative;
  cursor: pointer;
  padding-bottom: 21px;
  border-top: 2px solid #479376;
  color: #479376;
}
/* line 382, style.scss */
#projects li.selected, #projects li:hover {
  border-top: 2px solid #00653b;
  color: #00653b;
}
/* line 387, style.scss */
#projects #project-text {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
@media (min-width: 768px) {
  /* line 361, style.scss */
  #projects {
    padding-top: 33px;
    padding-bottom: 17px;
  }
  /* line 394, style.scss */
  #projects .projects-heading {
    margin-bottom: 43px;
    font-size: 29px;
  }
  /* line 398, style.scss */
  #projects li {
    border-top: 1px solid #479376;
    padding-top: 7px;
    padding-bottom: 19px;
    font-size: 17px;
  }
  /* line 403, style.scss */
  #projects li.selected, #projects li:hover {
    border-top: 1px solid #00653b;
  }
}
@media (min-width: 990px) {
  /* line 410, style.scss */
  #projects li:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: calc(480px + 42vw);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #479376;
  }
  /* line 422, style.scss */
  #projects li.selected:after, #projects li:hover:after {
    background-color: #00653b;
  }
}

/* line 430, style.scss */
.bg-tramlines {
  height: 158px;
  background: url("../media/images/bg-tramlines-2160.jpg") no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
  color: white;
}
/* line 436, style.scss */
.bg-tramlines .row {
  display: table;
  padding-left: 10px;
  width: 100%;
  height: 98%;
}
/* line 442, style.scss */
.bg-tramlines p {
  display: table-cell;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  /* line 430, style.scss */
  .bg-tramlines {
    height: 340px;
    background-position: center center;
    font-size: 27px;
  }
  /* line 450, style.scss */
  .bg-tramlines .row {
    height: 93%;
    padding-left: 40px;
  }
}

/* line 458, style.scss */
#wewant p {
  margin-top: 11px;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  /* line 457, style.scss */
  #wewant {
    margin-top: 4px;
  }
  /* line 464, style.scss */
  #wewant .heading {
    font-size: 23px;
    padding-top: 10px;
    padding-right: 100px;
  }
  /* line 469, style.scss */
  #wewant .text {
    border-top: 1px solid #00653b;
    padding-top: 6px;
    margin-bottom: 10px;
    font-size: 17px;
  }
}

/* line 478, style.scss */
#media {
  min-height: 234px;
  padding-top: 12px;
}
/* line 481, style.scss */
#media h2 {
  font-size: 18px;
}
/* line 484, style.scss */
#media a {
  margin: 20px;
}
@media (min-width: 768px) {
  /* line 478, style.scss */
  #media {
    margin-top: 30px;
    padding-top: 20px;
  }
  /* line 490, style.scss */
  #media h2 {
    font-size: 30px;
  }
}

/* line 495, style.scss */
a.box {
  display: inline-block;
  overflow: hidden;
  height: 234px;
}
/* line 500, style.scss */
a.box img {
  height: 234px;
  max-width: 100%;
}
/* line 504, style.scss */
a.box .caption {
  height: 234px;
  padding: 5px;
  padding-top: 100px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
/* line 513, style.scss */
a.box:hover .caption {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

/* line 519, style.scss */
#contact {
  height: 150px;
  margin-top: 5px;
}
/* line 522, style.scss */
#contact .heading {
  font-size: 30px;
}
/* line 525, style.scss */
#contact a {
  color: #00653b;
  display: block;
  margin-top: 8px;
  font-size: 20px;
}
@media (min-width: 768px) {
  /* line 519, style.scss */
  #contact {
    margin-top: 15px;
  }
  /* line 533, style.scss */
  #contact a {
    font-size: 22px;
  }
}

/* line 538, style.scss */
a {
  color: inherit;
}

/* line 541, style.scss */
a.no-style {
  color: inherit;
  text-decoration: none;
}
/* line 544, style.scss */
a.no-style:hover, a.no-style:focus {
  text-decoration: underline;
}
