// Variables
$green          : #00653b;
$light-green    : #ddeac6;
$gray           : #333333;
$faded-green    : #479376;
$tabletWidth    : 768px;

// Msc
.bg-green{background-color: $green;}
.bg-light-green{background-color: $light-green;}
.bg-gray{background-color: $gray;color:white;}
.bg-white{background-color: white;}
.text-green{color:$green;}

//Fonts
@font-face {
    font-family: Akkurat;
    src: url(fonts/Akkurat-Normal.otf);
}

@font-face {
    font-family: Akkurat;
    src: url(fonts/Akkurat-Bold.ttf);
    font-weight: bold;
}

body{
    font-family: Akkurat;
    font-size: 16px;
}
p{margin:0;}

// Site centers on page above 960px
.limit, .navbar .container{
    max-width: 960px;
    margin: 0 auto;
    // margin:0;
}
.limit{
    @media (min-width: $tabletWidth){
        padding-left: 35px;
    }
}

// Navbar styles
.navbar{
    padding-top: 12px;
    padding-bottom: 12px;
    .container{
        // For logo 
        @media (min-width: $tabletWidth){
            width: 100%;
        }
    }
    @media (min-width: $tabletWidth){
        text-align: center;
        padding-top: 20px;
    }
}
// Navbar Logo
.navbar-brand-me{
    display: block;
}
// Hamburger menu
.navbar-toggle{
    height: 31px;
    padding: 2px;
    margin: 0 20px 0 0;
    border: none;
}
.navbar-toggle .icon-bar {
    width: 50px;
    height: 2px;
    margin-bottom: 11px;
    border: 1px solid rgba(255,255,255,0.5);
}
.navbar-collapse{
    margin-top: 8px;
}
.navbar-nav{
    float: none;
}
.nav>li{
    @media (min-width: $tabletWidth){
        float: none;
        display: inline-block;
    }
    a{
        color: white;
        &:hover, &:focus{
            background-color: transparent;
            color: rgba(255,255,255,0.7);
        }
        text-shadow: none;
        // Control spacing between words
        @media (min-width: $tabletWidth){
            padding:0 7px 0 7px;
            font-size: 14px;
        }
    }
}

// Content
.bg-field{
    height: 250px;
    background: url('../images/1.jpg') no-repeat;
    background-size: 125% auto;
    background-position: center top;
    margin-top: 39px;
    .row{
        display: table;
        height: 90%;
    }
    strong{
        width: 100%;
        display: table-cell; 
        vertical-align: middle;
        text-align: center;
        font-size: 25px;
        color: white;
    }
    @media (min-width: $tabletWidth){
        height: 522px;
        background-size: 104% auto;
        margin-top: 69px;
        strong{
            font-size: 48px;            
        }
    }
}

#agriculture-text{
    margin-top: 18px;
    font-size: 19px;
    text-align: center;
    line-height: 1.35;
    strong{
        display: block;
        font-size: 20px;
        line-height: 1.2;
    }
    @media (min-width: $tabletWidth){
        margin-top: 52px;
        font-size: 21px;
        strong{
            font-size: 24px;
        }
    }
}

#about{
    margin-top: 25px;
    padding: 20px 0 0 0;
    p.text-green{
        padding-right: 28px;
        padding-bottom: 10px;
        font-size: 19px;
    }
    .col-sm-offset-1{       
        padding-bottom: 16px;
    }
    @media (min-width: $tabletWidth){
        margin-top: 58px;
        padding: 34px 0 0 0;
        border-top: 4px solid gray;
        p.text-green{
            padding-bottom: 120px;
            font-size: 29px;
        }
    }
}
 .white-padding{
    padding-left: 7.5px;
    padding-right: 10px;
    @media (min-width: $tabletWidth){
        padding-left: 20px;
        padding-right: 20px;
    }
 }
.bg-white{
    padding-top: 15px;
    .col-sm-6{
        padding-left: 7.5px;
    }
    .center-img{
        text-align: center;
    }
    p{
        margin-top: 22px;
        padding-bottom: 20px;
    }
    img{
        max-width: 100%;
        padding-bottom: 12px;
    }
    @media (min-width: $tabletWidth){
        padding-top: 22px;
        .text-green{
            font-size: 22px;
            line-height: 1.3;
        }
        .col-sm-6{
            padding-left: 0;
        }
        .col-sm-6:first-child{
            padding-right: 125px;
        }
    }
}
#white1{
    @media (min-width: $tabletWidth){
        img{
            padding-top: 12px;
            padding-bottom: 24px;
        }
    }
}
#white2{
    margin-top: 26px;
    @media (min-width: $tabletWidth){
        margin-top: 45px;
        img{
            padding-top: 12px;
            padding-bottom: 14px;
        }
        .no-bold{
            font-weight: normal;
        }
    }
}

#we-believe-text{
    .text-green{
        font-size: 18px;
    }
    p{
        margin: 20px 0;
    }
    p:last-child{
        margin-bottom: 13px;
    }
    @media (min-width: $tabletWidth){
        .text-green{
            font-size: 23px;
        }
        p:last-child{
            margin-bottom: 65px;
        }
        .col-sm-6:last-child{
            padding-right: 48px;
        }
    }
}

.bg-yard{
    height: 164px;
    background: url('../images/2.jpg') no-repeat;
    background-size: auto 100%;
    background-position: center bottom;
    color: white;
    .row{
        display: table;
        height: 100%;
    }
    p{
        display: table-cell;
        padding: 0 70px;
        vertical-align: middle;
        font-size: 22px;
        text-align: center;
    }
    @media (min-width: 485px){
        background-size: 100% auto;        
    }
    @media (min-width: $tabletWidth){
        height: 341px;
        background-size: auto 100%;
    }
    @media (min-width: 970px){
        background-size: 102% auto;
    }
}
#systematic{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}

#projects{
    padding-top: 10px;
    padding-bottom: 20px;
    .projects-heading{
        margin-bottom: 20px;
        font-size: 19px;
    }
    ul{
        padding-left: 0;
        padding-bottom: 10px;
        list-style: none;
        font-weight: bold;
    }
    li{
        padding-bottom: 21px;
        border-top: 2px solid $faded-green;
        color: $faded-green;

        &:hover, &:active{
            border-top: 2px solid $green;
            color: $green;
        }
    }
    @media (min-width: $tabletWidth){
        padding-top: 33px;
        padding-bottom: 17px;
        .projects-heading{
            margin-bottom: 43px;
            font-size: 29px;
        }
        li{
            border-top: 1px solid $faded-green;
            padding-top: 7px;
            padding-bottom: 19px;
            font-size: 17px;

            &:hover, &:active{
                border-top: 1px solid $green;
            }
        }
    }
}

.bg-tramlines{
    height: 158px;
    background: url('../images/3.jpg') no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    color: white;
    .row{
        display: table;
        padding-left: 10px;
        width: 100%;
        height: 98%;
    }
    p{
        display: table-cell; 
        vertical-align: bottom;
    }
    @media (min-width: $tabletWidth){
        height: 340px;
        background-position: center center;
        font-size: 27px;
        .row{
            height: 93%;
            padding-left: 40px;
        }
    }
}

#wewant{
    p{
        margin-top: 11px;
        margin-bottom: 21px;
    }
    a.no-style{
        color: inherit;
    }
    @media (min-width: $tabletWidth){
        margin-top: 4px;
        .heading{
            font-size: 23px;
            padding-top: 10px;
            padding-right: 100px;
        }
        .text{
            border-top: 1px solid $green;
            padding-top: 6px;
            margin-bottom: 10px;
            font-size: 17px;
        }
    }
}

#media{
    height: 234px;
    padding-top: 12px;
    font-size: 18px;
    @media (min-width: $tabletWidth){
        margin-top: 30px;
        padding-top: 20px;
        font-size: 30px;
    }
}

#contact{
    height: 150px;
    margin-top: 5px;
    .heading{
        font-size: 30px;
    }
    p{
        margin-top: 8px;
        font-size: 20px;
    }
    @media (min-width: $tabletWidth){
        margin-top: 15px;
        p{
            font-size: 22px;
        }
    }
}