/* line 9, style.scss */
.bg-green {
  background-color: #00653b;
}

/* line 10, style.scss */
.bg-light-green {
  background-color: #ddeac6;
}

/* line 11, style.scss */
.bg-gray {
  background-color: #333333;
  color: white;
}

/* line 12, style.scss */
.bg-white {
  background-color: white;
}

/* line 13, style.scss */
.text-green {
  color: #00653b;
}

@font-face {
  font-family: Akkurat;
  src: url(fonts/Akkurat-Normal.otf);
}
@font-face {
  font-family: Akkurat;
  src: url(fonts/Akkurat-Bold.ttf);
  font-weight: bold;
}
/* line 27, style.scss */
body {
  font-family: Akkurat;
  font-size: 16px;
}

/* line 31, style.scss */
p {
  margin: 0;
}

/* line 34, style.scss */
.limit, .navbar .container {
  max-width: 960px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  /* line 39, style.scss */
  .limit {
    padding-left: 35px;
  }
}

/* line 46, style.scss */
.navbar {
  padding-top: 12px;
  padding-bottom: 12px;
}
@media (min-width: 768px) {
  /* line 49, style.scss */
  .navbar .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  /* line 46, style.scss */
  .navbar {
    text-align: center;
    padding-top: 20px;
  }
}

/* line 61, style.scss */
.navbar-brand-me {
  display: block;
}

/* line 65, style.scss */
.navbar-toggle {
  height: 31px;
  padding: 2px;
  margin: 0 20px 0 0;
  border: none;
}

/* line 71, style.scss */
.navbar-toggle .icon-bar {
  width: 50px;
  height: 2px;
  margin-bottom: 11px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/* line 77, style.scss */
.navbar-collapse {
  margin-top: 8px;
}

/* line 80, style.scss */
.navbar-nav {
  float: none;
}

@media (min-width: 768px) {
  /* line 83, style.scss */
  .nav > li {
    float: none;
    display: inline-block;
  }
}
/* line 88, style.scss */
.nav > li a {
  color: white;
  text-shadow: none;
}
/* line 90, style.scss */
.nav > li a:hover, .nav > li a:focus {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
}
@media (min-width: 768px) {
  /* line 88, style.scss */
  .nav > li a {
    padding: 0 7px 0 7px;
    font-size: 14px;
  }
}

/* line 104, style.scss */
.bg-field {
  height: 250px;
  background: url("../images/1.jpg") no-repeat;
  background-size: 125% auto;
  background-position: center top;
  margin-top: 39px;
}
/* line 110, style.scss */
.bg-field .row {
  display: table;
  height: 90%;
}
/* line 114, style.scss */
.bg-field strong {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
  color: white;
}
@media (min-width: 768px) {
  /* line 104, style.scss */
  .bg-field {
    height: 522px;
    background-size: 104% auto;
    margin-top: 69px;
  }
  /* line 126, style.scss */
  .bg-field strong {
    font-size: 48px;
  }
}

/* line 132, style.scss */
#agriculture-text {
  margin-top: 18px;
  font-size: 19px;
  text-align: center;
  line-height: 1.35;
}
/* line 137, style.scss */
#agriculture-text strong {
  display: block;
  font-size: 20px;
  line-height: 1.2;
}
@media (min-width: 768px) {
  /* line 132, style.scss */
  #agriculture-text {
    margin-top: 52px;
    font-size: 21px;
  }
  /* line 145, style.scss */
  #agriculture-text strong {
    font-size: 24px;
  }
}

/* line 151, style.scss */
#about {
  margin-top: 25px;
  padding: 20px 0 0 0;
}
/* line 154, style.scss */
#about p.text-green {
  padding-right: 28px;
  padding-bottom: 10px;
  font-size: 19px;
}
/* line 159, style.scss */
#about .col-sm-offset-1 {
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  /* line 151, style.scss */
  #about {
    margin-top: 58px;
    padding: 34px 0 0 0;
    border-top: 4px solid gray;
  }
  /* line 166, style.scss */
  #about p.text-green {
    padding-bottom: 120px;
    font-size: 29px;
  }
}

/* line 172, style.scss */
.white-padding {
  padding-left: 7.5px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  /* line 172, style.scss */
  .white-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* line 180, style.scss */
.bg-white {
  padding-top: 15px;
}
/* line 182, style.scss */
.bg-white .col-sm-6 {
  padding-left: 7.5px;
}
/* line 185, style.scss */
.bg-white .center-img {
  text-align: center;
}
/* line 188, style.scss */
.bg-white p {
  margin-top: 22px;
  padding-bottom: 20px;
}
/* line 192, style.scss */
.bg-white img {
  max-width: 100%;
  padding-bottom: 12px;
}
@media (min-width: 768px) {
  /* line 180, style.scss */
  .bg-white {
    padding-top: 22px;
  }
  /* line 198, style.scss */
  .bg-white .text-green {
    font-size: 22px;
    line-height: 1.3;
  }
  /* line 202, style.scss */
  .bg-white .col-sm-6 {
    padding-left: 0;
  }
  /* line 205, style.scss */
  .bg-white .col-sm-6:first-child {
    padding-right: 125px;
  }
}

@media (min-width: 768px) {
  /* line 212, style.scss */
  #white1 img {
    padding-top: 12px;
    padding-bottom: 24px;
  }
}

/* line 218, style.scss */
#white2 {
  margin-top: 26px;
}
@media (min-width: 768px) {
  /* line 218, style.scss */
  #white2 {
    margin-top: 45px;
  }
  /* line 222, style.scss */
  #white2 img {
    padding-top: 12px;
    padding-bottom: 14px;
  }
  /* line 226, style.scss */
  #white2 .no-bold {
    font-weight: normal;
  }
}

/* line 233, style.scss */
#we-believe-text .text-green {
  font-size: 18px;
}
/* line 236, style.scss */
#we-believe-text p {
  margin: 20px 0;
}
/* line 239, style.scss */
#we-believe-text p:last-child {
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  /* line 243, style.scss */
  #we-believe-text .text-green {
    font-size: 23px;
  }
  /* line 246, style.scss */
  #we-believe-text p:last-child {
    margin-bottom: 65px;
  }
  /* line 249, style.scss */
  #we-believe-text .col-sm-6:last-child {
    padding-right: 48px;
  }
}

/* line 255, style.scss */
.bg-yard {
  height: 164px;
  background: url("../images/2.jpg") no-repeat;
  background-size: auto 100%;
  background-position: center bottom;
  color: white;
}
/* line 261, style.scss */
.bg-yard .row {
  display: table;
  height: 100%;
}
/* line 265, style.scss */
.bg-yard p {
  display: table-cell;
  padding: 0 70px;
  vertical-align: middle;
  font-size: 22px;
  text-align: center;
}
@media (min-width: 485px) {
  /* line 255, style.scss */
  .bg-yard {
    background-size: 100% auto;
  }
}
@media (min-width: 768px) {
  /* line 255, style.scss */
  .bg-yard {
    height: 341px;
    background-size: auto 100%;
  }
}
@media (min-width: 970px) {
  /* line 255, style.scss */
  .bg-yard {
    background-size: 102% auto;
  }
}

/* line 283, style.scss */
#systematic {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}

/* line 290, style.scss */
#projects {
  padding-top: 10px;
  padding-bottom: 20px;
}
/* line 293, style.scss */
#projects .projects-heading {
  margin-bottom: 20px;
  font-size: 19px;
}
/* line 297, style.scss */
#projects ul {
  padding-left: 0;
  padding-bottom: 10px;
  list-style: none;
  font-weight: bold;
}
/* line 303, style.scss */
#projects li {
  padding-bottom: 21px;
  border-top: 2px solid #479376;
  color: #479376;
}
/* line 308, style.scss */
#projects li:hover, #projects li:active {
  border-top: 2px solid #00653b;
  color: #00653b;
}
@media (min-width: 768px) {
  /* line 290, style.scss */
  #projects {
    padding-top: 33px;
    padding-bottom: 17px;
  }
  /* line 316, style.scss */
  #projects .projects-heading {
    margin-bottom: 43px;
    font-size: 29px;
  }
  /* line 320, style.scss */
  #projects li {
    border-top: 1px solid #479376;
    padding-top: 7px;
    padding-bottom: 19px;
    font-size: 17px;
  }
  /* line 326, style.scss */
  #projects li:hover, #projects li:active {
    border-top: 1px solid #00653b;
  }
}

/* line 333, style.scss */
.bg-tramlines {
  height: 158px;
  background: url("../images/3.jpg") no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
  color: white;
}
/* line 339, style.scss */
.bg-tramlines .row {
  display: table;
  padding-left: 10px;
  width: 100%;
  height: 98%;
}
/* line 345, style.scss */
.bg-tramlines p {
  display: table-cell;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  /* line 333, style.scss */
  .bg-tramlines {
    height: 340px;
    background-position: center center;
    font-size: 27px;
  }
  /* line 353, style.scss */
  .bg-tramlines .row {
    height: 93%;
    padding-left: 40px;
  }
}

/* line 361, style.scss */
#wewant p {
  margin-top: 11px;
  margin-bottom: 21px;
}
/* line 365, style.scss */
#wewant a.no-style {
  color: inherit;
}
@media (min-width: 768px) {
  /* line 360, style.scss */
  #wewant {
    margin-top: 4px;
  }
  /* line 370, style.scss */
  #wewant .heading {
    font-size: 23px;
    padding-top: 10px;
    padding-right: 100px;
  }
  /* line 375, style.scss */
  #wewant .text {
    border-top: 1px solid #00653b;
    padding-top: 6px;
    margin-bottom: 10px;
    font-size: 17px;
  }
}

/* line 384, style.scss */
#media {
  height: 234px;
  padding-top: 12px;
  font-size: 18px;
}
@media (min-width: 768px) {
  /* line 384, style.scss */
  #media {
    margin-top: 30px;
    padding-top: 20px;
    font-size: 30px;
  }
}

/* line 395, style.scss */
#contact {
  height: 150px;
  margin-top: 5px;
}
/* line 398, style.scss */
#contact .heading {
  font-size: 30px;
}
/* line 401, style.scss */
#contact p {
  margin-top: 8px;
  font-size: 20px;
}
@media (min-width: 768px) {
  /* line 395, style.scss */
  #contact {
    margin-top: 15px;
  }
  /* line 407, style.scss */
  #contact p {
    font-size: 22px;
  }
}
