// Variables
$green          : #00653b;
$light-green    : #ddeac6;
$gray           : #333333;
$faded-green    : #479376;
$tabletWidth    : 768px;

// Msc
.bg-green{background-color: $green;}
.bg-light-green{background-color: $light-green;}
.bg-gray{background-color: $gray;color:white;}
.bg-white{background-color: white;}
.text-green{color:$green;}

//Fonts
@font-face {
    font-family: 'Akkurat';
    src: url('fonts/Akkurat-Normal.eot');
    src: local('☺'), url('fonts/Akkurat-Normal.woff') format('woff'), url('fonts/Akkurat-Normal.ttf') format('truetype'), url('fonts/Akkurat-Normal.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkurat';
    src: url('fonts/Akkurat-Bold.eot');
    src: local('☺'), url('fonts/Akkurat-Bold.woff') format('woff'), url('fonts/Akkurat-Bold.ttf') format('truetype'), url('fonts/Akkurat-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

body{
    font-family: Akkurat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}
p{margin:0;}

// Site centers on page above 960px
.limit, .navbar .container{
    max-width: 960px;
    margin: 0 auto;
    // margin:0;
}
.limit{
    @media (min-width: $tabletWidth){
        padding-left: 35px;
    }
}

// Navbar styles
.navbar{
    padding-top: 12px;
    padding-bottom: 12px;
    .container{
        // For logo 
        @media (min-width: $tabletWidth){
            width: 100%;
        }
    }
    @media (min-width: $tabletWidth){
        text-align: center;
        padding-top: 20px;
    }
}
// Navbar Logo
.navbar-brand-me{
    display: block;
}
// Hamburger menu
.navbar-toggle{
    height: 31px;
    padding: 2px;
    margin: 0 20px 0 0;
    border: none;
}
.navbar-toggle .icon-bar {
    width: 50px;
    height: 2px;
    margin-bottom: 11px;
    border: 1px solid rgba(255,255,255,0.5);
}
.navbar-collapse{
    margin-top: 8px;
}
.navbar-nav{
    float: none;
}
.nav>li{
    @media (min-width: $tabletWidth){
        float: none;
        display: inline-block;
    }
    a{
        color: white;
        &:hover, &:focus{
            background-color: transparent;
            color: rgba(255,255,255,0.7);
        }
        text-shadow: none;
        // Control spacing between words
        @media (min-width: $tabletWidth){
            padding:0 7px 0 7px;
            font-size: 14px;
        }
    }
}

// Content
.bg-field{
    position: relative;
    height: 250px;
    margin-top: 39px;
    overflow: hidden;
    background: url('../media/images/bg-field-1080.jpg') no-repeat;
    background-position: center top;
    background-size: 125% auto;
    .videoWrapper{ /* Hide video on lower res */
        display: none;
    }
    strong{
        position: absolute;
        width: 100%;
        top: 25%;
        z-index: 2;

        text-align: center;
        font-size: 25px;
        color: white;
    }
    @media (min-width: $tabletWidth){
        height: 435px;
        margin-top: 69px;
        background: url('../media/images/bg-field-2160.jpg') no-repeat;
        background-size: 104% auto;
        .videoWrapper{ /* Show video on lower res */
            display: block;
        }
        strong{
            font-size: 48px;            
        }
    }
    @media (min-width: 925px){
        height: 522px;
    }
}
.videoWrapper {
    position: relative;
    height: 0;
    padding-top: 25px;
    padding-bottom: 56.25%; /* 16:9 */
}
#videobg {
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.play-button {
    position: absolute;
    right: 20px;
    z-index: 3;
    width: 30px;
    opacity: 0.7;
    &:hover{
        opacity: 1;
    }
    @media (min-width: $tabletWidth){
        top: 390px;
    }
    @media (min-width: 925px){
        top: 475px;
    }
}
#agriculture-text{
    margin-top: 18px;
    padding-bottom: 25px;
    font-size: 19px;
    text-align: center;
    line-height: 1.35;
    strong{
        display: block;
        font-size: 20px;
        line-height: 1.2;
    }
    @media (min-width: $tabletWidth){
        margin-top: 52px;
        padding-bottom: 58px;
        font-size: 21px;
        strong{
            font-size: 24px;
        }
    }
}

#about{
    padding: 20px 0 0 0;
    p.text-green{
        padding-right: 28px;
        padding-bottom: 10px;
        font-size: 19px;
    }
    .col-sm-offset-1{       
        padding-bottom: 16px;
    }
    @media (min-width: $tabletWidth){
        padding: 34px 0 0 0;
        border-top: 4px solid gray;
        p.text-green{
            padding-bottom: 120px;
            font-size: 29px;
        }
    }
}
 .white-padding{
    padding-left: 7.5px;
    padding-right: 10px;
    @media (min-width: $tabletWidth){
        padding-left: 20px;
        padding-right: 20px;
    }
 }
.bg-white{
    padding-top: 15px;
    .col-sm-6{
        padding-left: 7.5px;
    }
    p{
        margin-top: 22px;
        padding-bottom: 20px;
    }
    @media (min-width: $tabletWidth){
        padding-top: 22px;
        .text-green{
            font-size: 22px;
            line-height: 1.3;
        }
        .col-sm-6{
            padding-left: 0;
        }
        .col-sm-6:first-child{
            padding-right: 125px;
        }
    }
}
.g1-cont, .g2-cont{
    @media (min-width: $tabletWidth){
        padding-top: 12px;
        padding-bottom: 24px;
    }
}
.graph1, .graph2{
    max-width: 423px;
    margin: 0 auto;
    img{
        max-width: 100%;
    }

}
.graph1{
    position: relative;
    overflow: hidden;
    .top-layer{
        position: absolute;
        transition: all 2s ease;
        transform: translateY(-100%);
    }
    .top-layer.inview{
        transform: translateY(0);
    }
}
.graph2{
    position: relative;
    .top-layer{
        position: absolute;
        width: 0%;
        height: 100%;
        max-width: 100%;
        background-image: url(../media/images/graph2-2.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        // transition: width 3s ease;
    }
    .top-layer.inview{
        width: 100%;
    }
}
#white2{
    margin-top: 26px;
    @media (min-width: $tabletWidth){
        margin-top: 45px;
        .no-bold{
            font-weight: normal;
        }
    }
}

#we-believe-text{
    .text-green{
        font-size: 18px;
    }
    p{
        margin: 20px 0;
    }
    p:last-child{
        margin-bottom: 13px;
    }
    @media (min-width: $tabletWidth){
        .text-green{
            font-size: 23px;
        }
        p:last-child{
            margin-bottom: 65px;
        }
        .col-sm-6:last-child{
            padding-right: 48px;
        }
    }
}

.bg-yard{
    height: 164px;
    background: url('../media/images/bg-yard.jpg') no-repeat;
    background-size: auto 100%;
    background-position: center bottom;
    color: white;
    .row{
        display: table;
        height: 100%;
    }
    p{
        display: table-cell;
        padding: 0 70px;
        vertical-align: middle;
        font-size: 22px;
        text-align: center;
    }
    @media (min-width: 485px){
        background-size: 100% auto;        
    }
    @media (min-width: $tabletWidth){
        height: 341px;
        background-size: auto 100%;
    }
    @media (min-width: 970px){
        background-size: 102% auto;
    }
}
#systematic{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}

#projects{
    padding-top: 10px;
    padding-bottom: 20px;
    .projects-heading{
        margin-bottom: 20px;
        font-size: 19px;
    }
    ul{
        padding-left: 0;
        padding-bottom: 10px;
        list-style: none;
        font-weight: bold;
    }
    li{
        display: block;
        position: relative;
        cursor: pointer;
        padding-bottom: 21px;
        border-top: 2px solid $faded-green;
        color: $faded-green;

        &.selected, &:hover{
            border-top: 2px solid $green;
            color: $green;
        }
    }
    #project-text{
        opacity: 0;
        transition: all 400ms ease;
        a{
            color: $faded-green;
        }
    }    
    @media (min-width: $tabletWidth){
        padding-top: 33px;
        padding-bottom: 17px;
        .projects-heading{
            margin-bottom: 43px;
            font-size: 29px;
        }
        li{
            border-top: 1px solid $faded-green;
            padding-top: 7px;
            padding-bottom: 19px;
            font-size: 17px;
            &:after{
                content: "";
                display: inline-block;
                position: absolute;
                left: calc(60px + 80vw);

                width: 20px;
                height: 20px;
                border-radius:50%;
                background-color: $faded-green;
            }
            &.selected, &:hover{
                border-top: 1px solid $green;
                &:after{
                    background-color: $green;
                }
            }
        }
    }
    @media (min-width: 990px){
        li:after{
            left: calc(460px + 42vw);            
        }
    }
}

.bg-tramlines{
    height: 158px;
    background: url('../media/images/bg-tramlines-1080.jpg') no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    color: white;
    .row{
        display: table;
        padding-left: 10px;
        width: 100%;
        height: 98%;
    }
    p{
        display: table-cell; 
        vertical-align: bottom;
    }
    @media (min-width: $tabletWidth){
        height: 340px;
        background: url('../media/images/bg-tramlines-2160.jpg') no-repeat;
        background-position: center center;
        font-size: 27px;
        .row{
            height: 93%;
            padding-left: 40px;
        }
    }
}

#wewant{
    p{
        margin-top: 11px;
        margin-bottom: 21px;
    }
    @media (min-width: $tabletWidth){
        margin-top: 4px;
        .heading{
            font-size: 23px;
            padding-top: 10px;
            padding-right: 100px;
        }
        .text{
            border-top: 1px solid $green;
            padding-top: 6px;
            margin-bottom: 10px;
            font-size: 17px;
        }
    }
}

#media{
    min-height: 234px;
    padding-top: 12px;
    h2{
        font-size: 18px;
    }
    a{
        margin: 20px;
    }
    @media (min-width: $tabletWidth){
        margin-top: 30px;
        padding-top: 20px;
        h2{
            font-size: 30px;
        }
    }
}
a.box{
    display: inline-block;
    position: relative;
    overflow: hidden;
    img{
        max-height: 234px;
        max-width: 100%;
    }
    .caption{
        position: absolute;
        top: 0; bottom: 0;
        right: 0; left: 0;
        padding: 5px;
        padding-top: 100px;
        text-align: center;
        background-color: rgba(0,0,0,0.7);

        transition: all 300ms ease;
        transform: translate(-100%,100%);
    }
    &:hover .caption{
        transform: translate(0,0);
        text-decoration: underline;
    }
}

#contact{
    height: 150px;
    margin-top: 5px;
    .heading{
        font-size: 30px;
    }
    a{
        color: $green;
        display: block;
        margin-top: 8px;
        font-size: 20px;
    }
    @media (min-width: $tabletWidth){
        margin-top: 15px;
        a{
            font-size: 22px;
        }
    }
}
a.no-style{
    color: inherit;
    text-decoration: none;
    &:hover, &:focus{
        text-decoration: underline;
    }
}
